// Variabili
@use '../_vars.scss' as *;

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .carousel {
        height: calc(100vh - 80px);
        width: 100%;
        margin: 0;
        display: none;
        flex-shrink: 1;
        overflow: hidden;
        box-shadow: var(--box-shadow);
        transition: all 3s linear;

    }

    .show {
        display: block;
    }
}

.register-btn {
    background-color: var(--register-btn-background-color);
    border: var(--register-btn-border);
    text-decoration: none;
    color: var(--register-btn-color);
    padding: 10px 15px;
    border-radius: 10px;
    transition: all 0.3s linear;

    &:hover {
        transform: scale(1.05);
        box-shadow: var(--btn-hover-box-shadow);
    }
}

.title {
    text-shadow: var(--title-text-shadow);
}

.home-logo {
    width: 300px;

    img {
        border-radius: 50%;
    }
}