.message-icon {
    position: fixed;
    bottom: 25px;
    right: 25px;

    .icon {
        width: 70px;
        height: 70px;
        cursor: pointer;
        transition: all 0.25s linear;
        color: var(--label-color);

        &:hover {
            transform: scale(1.1);
        }
    }
}