// Variabili
@use '../_vars.scss' as *;

.modal {
    background-color: var(--modal-background-color);
    align-items: center;
    justify-content: center;

    .modal-dialog {
        width: 75%;

        .modal-content {
            height: 400px;

            .modal-body {
                display: flex;
                align-items: center;

                p {
                    font-size: 2rem;
                }
            }
        }
    }

}