.nav {
    box-shadow: 1px 22px 46px -26px rgba(66, 68, 90, 0.5);
}

.navbar-brand {
    figure {
        height: 60px;
        width: 60px;
        margin-bottom: 0;
    }
}

nav {
    font-size: 1.5rem;
    height: 80px;

    .logo {
        height: 40px;
        width: 40px;
        border-radius: 50%;

        background-color: gray;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.3rem;
    }

    .logo.super-admin {
        background-color: #e63946;
    }

    .logo.admin {
        background-color: #38a3a5;
    }

    .nav-link {
        height: 80px;
        margin: 0 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s linear;

        &:hover {
            transform: scale(1.05);
        }
    }

    .navbar-brand {
        display: flex;
        align-items: center;
    }

    .navbar-nav .nav-item .nav-link.active {
        color: #1d3557;
        border-bottom: 1px solid #1d3557;
    }
}