.toggle-container {
    display: flex;
    align-items: center;
    height: 100%;
}


.toggle-label {
    width: 65px;
    height: 30px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
        inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
}

.toggle-label:after {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: 3px;
    left: 3px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.toggle {
    width: 0;
    height: 0;
    visibility: hidden;
}

.toggle:checked+.toggle-label {
    background: #242424;
}

.toggle:checked+.toggle-label:after {
    left: 62px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #141237, #0955a1);
}

.toggle-label:active:after {
    width: 30px;
}

.toggle-label img {
    position: absolute;
    width: 20px;
    top: 5px;
    z-index: 1;
}

.toggle-label img.sun {
    left: 5px;
    fill: #fff;
    transition: 0.3s;
}

.toggle-label img.moon {
    left: 40px;
    fill: #7e7e7e;
    transition: 0.3s;
}

.toggle:checked+.toggle-label img.sun {
    fill: #7e7e7e;
}

.toggle:checked+.toggle-label img.moon {
    fill: #fff;
}