.indexCard {
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 3px 20px 62px -25px #000;
    transition: all 0.3s linear;
    cursor: pointer;

    &:hover {
        transform: scale(1.03);
    }

    figure {
        height: 300px;
        border-radius: 10px;
        overflow: hidden;
    }

    img {
        height: 100%;
        width: 100%;
    }

    h5,
    p {
        font-family: "Playwrite US Trad", cursive;
    }

}

.showCard {
    background-color: #fff;
    border-radius: 20px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 3px 20px 62px -25px #000;

    figure {
        height: 400px;
        border-radius: 20px 20px 0 0;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
        }
    }

}

.dataCardBody {
    figure {
        height: 30px;
    }
}

.dataBtn {
    margin: 20px 0;
    padding: 10px 15px;
    background-color: #0077b6;
    border: 1px solid transparent;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s linear;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    &:hover {
        transform: scale(1.05);
    }
}

.badgeContainer {
    display: flex;
}