// Variabili
@use '../../scss/_vars.scss' as *;

.indexCard {
    padding: 20px;
    background-color: var(--card-background-color);
    border-radius: 20px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    transition: all 0.3s linear;
    cursor: pointer;

    &:hover {
        transform: scale(1.03);
    }

    figure {
        height: 300px;
        border-radius: 10px;
        overflow: hidden;
    }

    img {
        height: 100%;
        width: 100%;
    }

    h5,
    p {
        font-family: "Playwrite US Trad", cursive;
    }

}

.showCard {
    background-color: var(--card-background-color);
    border-radius: 20px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: var(--box-shadow);

    figure {
        height: 400px;
        border-radius: 20px 20px 0 0;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
        }
    }

}

.dataCardBody {
    figure {
        height: 30px;
    }
}

.dataBtn {
    transition: all 0.3s linear;

    &:hover {
        transform: scale(1.05);
    }
}

.badgeContainer {
    display: flex;
}

.invisible {
    background-color: var(--invisible-card-background-color);
}

.invalid {
    background-color: var(--invalid-card-background-color);
}