.dataCard {
    width: 400px;
    height: 450px;
    background-color: #fff;
    border-radius: 20px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 3px 20px 62px -25px #000;
    transition: all 0.3s linear;

    &:hover {
        transform: scale(1.03);
    }

    figure {
        height: 200px;
        border-radius: 20px 20px 0 0;
        overflow: hidden;
    }

    img {
        transition: all 0.3s linear;

        &:hover {
            transform: scale(1.2);
        }
    }

    h2 {
        margin-bottom: 10px;
        height: 80px;
    }
}

.dataCardBody {
    padding: 20px 20px;
}

.dataBtn {
    margin: 20px 0;
    padding: 10px 15px;
    background-color: #0077b6;
    border: 1px solid transparent;
    border-radius: 10px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s linear;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    &:hover {
        transform: scale(1.05);
    }
}

.badgeContainer {
    display: flex;
}