.logo {
    height: 100px;
    width: 100px;
    background-color: gray;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

}

div .card {
    height: 350px;
    transition: all 0.3s linear;

    &:hover {
        transform: scale(1.03);
    }
}

button.btn {

    transition: all 0.3s linear;

    &:hover {
        transform: scale(1.05);
    }
}