// Navbar
@use './components/navbar.scss';
// Modal
@use './components/modal.scss';

// Bootstrap
@import "bootstrap/scss/bootstrap";

main {
    height: calc(100vh - 80px);
    overflow: auto;
    background-color: #e5e5e5;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: #fff;
    }

    &::-webkit-scrollbar-thumb {
        background: #000000d4;
    }

    section {
        padding: 40px 0;
    }
}

.card {
    box-shadow: 3px 20px 62px -25px #000;
}

.super-admin {
    background-color: #e63946;
}

.admin {
    background-color: #38a3a5;
}