// Navbar
@use './components/navbar.scss';
// Modal
@use './components/modal.scss';
// Home
@use './pages/home.scss';
// Not Found
@use './pages/notfound.scss';

// Bootstrap
@import "bootstrap/scss/bootstrap";

body {
    font-family: "Cabin", sans-serif;
}

main {
    height: calc(100vh - 80px);
    overflow: auto;
    background-color: #d9dcd6;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: #fff;
    }

    &::-webkit-scrollbar-thumb {
        background: #000000d4;
    }

    section {
        padding: 40px 0;
    }
}

.card {
    box-shadow: 3px 20px 62px -25px #000;
}

.super-admin {
    background-color: #e63946;
}

.admin {
    background-color: #38a3a5;
}

.btn {
    transition: all 0.3s linear;

    &:hover {
        transform: scale(1.05);
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    }
}