// Navbar
@use './components/navbar.scss';
// Modal
@use './components/modal.scss';
// Home
@use './pages/home.scss';
// Not Found
@use './pages/notfound.scss';
// Variabili
@use './_vars.scss' as *;

// Bootstrap
@import "bootstrap/scss/bootstrap";

body {
    font-family: "Cabin", sans-serif;
}

main {
    height: calc(100vh - 80px);
    overflow: auto;
    background-color: $main-bacKground-color;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: $scrollbar-track-background-color;
    }

    &::-webkit-scrollbar-thumb {
        background: $scrollbar-thumb-background-color;
    }

    section {
        padding: 40px 0;
    }
}

.card {
    box-shadow: $box-shadow;
}

.super-admin {
    background-color: $super-admin-background-color;
}

.admin {
    background-color: $admin-background-color;
}

.btn {
    transition: all 0.3s linear;

    &:hover {
        transform: scale(1.05);
        box-shadow: $btn-hover-box-shadow;
    }
}